body{
    margin: 0%;
    height: 100vh !important;
}
#container
{
    justify-content: space-between;
    height: 100%;
    margin: 0%;
    display: flex;
}
#left
{
    height: 100%;
    background-color: darkgray;
    flex:1;
}
#right
{
    height: 100%;
    background-color: grey;
    flex:1;
}
.tarea
{
    height: 50%;
    width: 100%;
}